elpa/
eshell/history
eshell/lastdir
eshell/autojump
places
*~
tramp
var/
etc/
projectile-bookmarks.eld
url/
auto-save-list/
.cask/
.mc-lists.el
bookmarks
/ac-comphist.dat
/ido.last
/.org-id-locations
/projectile.cache
.ercpass
\#*#
/request/
/ensime
/recentf
/.tern-port
/magithub/cache
*.asc
/transient/history.el
/server/server
/custom.el
/eln-cache/
!/.cache/
/.cache/*
!/.cache/lsp/
/.cache/lsp/*
!/.cache/lsp/npm/
/.cache/lsp/npm/*
!/.cache/lsp/npm/pyright/
/.cache/lsp/npm/pyright/*
!/.cache/lsp/npm/pyright/lib/
/.cache/lsp/npm/pyright/lib/*
!/.cache/lsp/npm/pyright/lib/.keep
/.dap-breakpoints
/.lsp-session-v1
/.persp
/company-statistics-cache.el
/straight/*
!/straight/versions
/emms/
/games/
/network-security.data
/settings/setup-private.el
/.org-generic-id-locations
/org-gcal/
/persist/
/straight/
/history
/projects
/codeium/
/multisession/
/eln-cache/
/session.*
/tree-sitter/

# Nix
result/
.direnv/
/.devenv.flake.nix
/.devenv/

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
