elpa/
eshell/history
eshell/lastdir
eshell/autojump
places
*~
tramp
var/
projectile-bookmarks.eld
url/
auto-save-list/
.cask/
.mc-lists.el
bookmarks
/ac-comphist.dat
/ido.last
/.org-id-locations
/projectile.cache
.ercpass
\#*#
